<div class="principal-container">
    <mat-card appearance="outlined">
        <mat-card-content>
            <form class="example-form" [formGroup]="weatherForm" (ngSubmit)="getWeather()">
                <div class="search-div">
                    <input class="search-input" matInput type="text" placeholder="Search city" formControlName="city">
                    <button class="search-button" mat-icon-button aria-label="Example icon button with a vertical three dot icon"><span class="material-symbols-outlined">search</span></button>
                </div>
            </form>
            <div class="weather-results">

                <h3>Weather in {{city}}</h3>
                <div class="temperature">{{(weatherResponse.temp - 273.15) | number :'1.2-2'}}ºC</div>
                <div class="weather-details">
                    <div>
                        <div class="weather">{{weatherResponse.weather}}</div>
                        <div class="details">{{weatherResponse.details}}</div>
                        <div class="humidity">Humidity: {{weatherResponse.humidity}}%</div>
                    </div>
                    <img [src]="iconUrl" alt="Weather Icon" class="icon">
                </div>
                
                

            </div>
        </mat-card-content>
    </mat-card>
</div>